/*
Theme Name: Nathan Simmons
Author URI: http://blank.co.uk
Description: Wordpress Theme
Version: 0.1
*/

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* Variables */
/* End of Variables */
/* Mixins */
/* End of Mixins */
* {
  box-sizing: border-box; }

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: #000; }

h1 {
  font-weight: bold; }

div {
  position: relative; }

p {
  font-family: 'Merriweather', sans-serif; }

#container {
  width: 100%;
  height: 100%; }

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff; }

nav {
  width: 100%; }

nav a {
  width: 100%;
  color: #fff;
  font-size: 4em;
  color: black;
  text-decoration: none;
  font-weight: bold;
  float: left; }

nav a:visited {
  color: black; }

#quote {
  display: none; }

.quote-wrapper {
  margin-top: 100px;
  margin-bottom: 100px; }

.quote-white {
  color: white;
  font-family: Lora;
  font-style: italic;
  font-size: 3em;
  text-align: center; }

.name {
  bottom: 0;
  left: 0;
  position: absolute; }

.name p {
  font-size: 2em; }

.name h1 {
  font-size: 5em; }

.images {
  padding-left: 0;
  background: #000;
  width: 100%;
  color: #fff; }

.about {
  padding-left: 0;
  background: #000;
  width: 100%;
  color: #fff;
  text-align: right;
  clear: both;
  margin-bottom: 10px;
  background: #000;
  position: relative;
  overflow: auto; }

.about h1 {
  font-size: 5em;
  text-align: right;
  background: #fff;
  color: #000; }

.contact {
  background: #fff;
  clear: both; }

.text {
  width: 100%;
  color: white;
  clear: both;
  float: right;
  text-align: justify; }

.text p {
  color: white;
  margin-top: 20px;
  font-size: 2em;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  font-family: Merriweather; }

.text span {
  font-style: italic;
  font-family: 'Lora', sans-serif; }

.img-about {
  content: " ";
  width: 100%;
  height: 100%;
  background: url("../images/about.PNG");
  position: absolute; }
  .img-about:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    background: #000; }

.img img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

i.fa {
  font-size: 10em;
  color: #fff; }

.form-wrap {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px; }

label {
  font-size: 4.5em;
  font-weight: bold; }

form input,
textarea {
  width: 100%;
  font-size: 2em;
  border: 2px solid black; }

.skills {
  margin-top: 50px;
  margin-left: 10px; }

.skill {
  background: white;
  color: black;
  padding: 20px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px; }

.work {
  color: white; }

.workimg {
  float: left;
  width: 100%;
  position: absolute; }
  .workimg:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    background: #000; }

.workimg img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.work h1 {
  font-size: 5em;
  background: white;
  color: #000; }

.worktext {
  float: left;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; }

.worktext h1 {
  margin-top: 10px;
  font-size: 4em;
  font-style: italic;
  font-family: 'Lora', sans-serif; }

.worktext p {
  font-size: 2em;
  margin-top: 23px;
  text-align: justify; }

.work a:visited {
  color: white; }

/* Media Queries */
@media screen and (max-width: 1024px) {
  .about {
    height: auto;
    overflow: auto; }

  .work {
    height: auto;
    overflow: auto; } }
@media screen and (orientation: landscape) {
  nav a {
    width: 25%;
    float: none; } }
@media screen and (min-width: 1025px) {
  #quote {
    display: block;
    font-style: italic;
    text-align: center;
    position: relative;
    top: 30%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 3em;
    font-family: Lora; }

  .img {
    width: 50%;
    float: left; }

  .about {
    height: 100vh; }

  .work {
    height: 100vh; }

  .workimg {
    float: left;
    width: 50%; }

  .worktext {
    float: left;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px; }

  nav {
    text-align: center; }

  nav a {
    width: 25%;
    transition: background 0.5s;
    float: none; }

  nav a:hover {
    background: #000;
    color: #fff; } }
